{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %} 

{% set cl = {'00' : 'success', 999 : 'primary', 3 : 'danger', 4 : 'info', 5 : 'warning', 6 : 'danger', 7 : 'success'} %}
{% block field%}
    {# object.venta.financiacion.cuotas #}
<table class="table table-bordered table-striped">
        {% for key, materia in object.showArray %}
        {% set i = 0 %}
        {% set a = 0 %}
        <tbody>
        <tr>
            <th colspan="3"><h3>{{key}}</h3></th>
        </tr>
        <tr>
            <th>Alumno</th>
            {% set per = [] %}
            {% for key, periodo in materia %}
                
                {% for key, nota in periodo %}
                        {% if (key not in per) %}
                            <th>{{key}}</th>
                            {% set per = per|merge([key]) %}
                        {% endif %}
                {% endfor %}
                
            {% endfor %}
        </tr>
        </tbody>
            {% for key, periodo in materia %}
                <tr>
                    {% if i == 0 %}
                        <td>{{key}}</td>
                        {% set i = 1 %}    
                    {% endif %}
                {% for key, nota in periodo %}
                        <td>{{nota}}</td>   
                {% endfor %}
                </tr>
                {% set i = 0 %}
            {% endfor %}
                {% set a = 0 %}
        {% endfor %}
    </table>
{% endblock%}