<a href="{{ path('admin_app_aula_materiaaula_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Materias'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Materias' }}
</a>