<a href="{{ path('admin_app_aula_aulaalumno_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Alumnos'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Alumnos' }}
</a>