{#{%  if is_granted('ROLE_CERTIFICADO') %}#}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('academica', object) }}" title="Historia Academica"><i class="fa fa-file-pdf-o"></i> Academica</a>
{#{% endif %}#}