{% if is_granted('ROLE_CERTIFICADO') %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('email', object) }}" title="Enviar Email"><i class="fa fa-paper-plane-o"></i> Enviar</a>
{% endif %}