{#{%  if is_granted('ROLE_CERTIFICADO') %}#}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('inscripciones', object) }}" title="Inscribir"><i class="fa fa-university"></i> Inscribir</a>
{#{% endif %}#}