{% if is_granted('ROLE_CERTIFICADO') %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('pdfcertificado', object) }}" title="PDF Certificado"><i class="fa fa-file-pdf-o"></i> Certificado</a>
{% endif %}