<a href="{{ path('admin_app_ciclolectivo_aula_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Aulas'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Aulas' }}
</a>