<a href="{{ path('admin_app_planestudio_anio_list', {'id': object.id}) }}" class="btn btn-sm btn-primary view_link" title="{{ 'Años'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'Años' }}
</a>